$green: #92B540;
$blue: #009BA6;
$red: #CD4D58;
$yellow: #CDC638;
$black: #333332;
$blackbg: rgba(0,0,0,0.6);
$white: rgba(255,255,255,1.0);
$title-font: "atrament-web", sans-serif;
$display-font: "prenton-display", sans-serif;
$hand-font: "gooddog-new", sans-serif;