/*BREAKPOINTS*/
$break-small: 500px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screen {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screen {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

/*---------------- ANIMATIONS ----------------*/

@mixin keyframes($animation-name) {
    @-webkit-keyframes $animation-name {
        @content;
    }
    @-moz-keyframes $animation-name {
        @content;
    }
    @keyframes $animation-name {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    animation: #{$str};
}

/*---------------- IMAGES ----------------*/

/*IMAGEGRAYSCALE*/
@mixin grayscale {
    -webkit-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
}

@mixin fullcolor {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

/*IMAGEBLUR*/
@mixin imgblur( $radius ) {
	-webkit-filter: blur($radius+px); -moz-filter: blur($radius+px);
	-o-filter: blur($radius+px); -ms-filter: blur($radius+px);
	filter: url(images/blur.svg#blur); filter: blur($radius+px); filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='$radius');
}

/*IMAGESCALE*/
@mixin scale( $size ) {
	-webkit-transform: scale($size);
	-moz-transform: scale($size);
	-o-transform: scale($size);
	-ms-transform: scale($size);
	transform: scale($size);
}

/*---------------- COMMON ----------------*/

/*TRANSLATE*/
@mixin translate( $X, $Y, $Z:"" ) {
	-webkit-transform: translate( $X, $Y, unquote($Z) );
	-moz-transform: translate( $X, $Y, unquote($Z) );
	-o-transform: translate( $X, $Y, unquote($Z) );
	-ms-transform: translate( $X, $Y, unquote($Z) );
	transform: translate( $X, $Y, unquote($Z) );
}

/*TRANSITIONS*/
@mixin transition( $property, $duration, $function, $delay:"" ) {
	-webkit-transition: $property $duration $function unquote($delay);
	-moz-transition: $property $duration $function unquote($delay);
	-o-transition: $property $duration $function unquote($delay);
	-ms-transition: $property $duration $function unquote($delay);
	transition: $property $duration $function unquote($delay);
}

/*ROUNDEDEDGES*/
@mixin border-radius( $radius ) {
	-webkit-border-radius: $radius+px;
	-moz-border-radius: $radius+px;
	-o-border-radius: $radius+px;
	-ms-border-radius: $radius+px;
	border-radius: $radius+px;
}

/*BOXSHADOW*/
@mixin box-shadow( $horiz, $vert, $blur, $spread, $color ){
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
}

/*CLEARFLOAT*/
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}