$titleface: 'futura-pt';
$displayface: 'adelle';

$ms-base: 1rem;
$ms-ratio: $golden;

h1, h2, h3, h4, h5 {
	font-family: $titleface;
	font-weight: 700;
}

h1 {
	font-size: ms(5);
}

h2 {
	font-size: ms(4);
}

h3 {
	font-size: ms(3);
}

h4 {
	font-size: ms(2);
}

h5 {
	font-size: ms(1);
}

p {
	font-family: $displayface;
	font-size: ms(1);
}