/* line 8, sass/reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  background: transparent;
}

/* line 19, sass/reset.scss */
body {
  line-height: 1;
}

/* line 24, sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, sass/reset.scss */
nav ul {
  list-style: none;
}

/* line 32, sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 37, sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, sass/reset.scss */
a, a:visited, a:active {
  color: #FFF;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 51, sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 56, sass/reset.scss */
input, select {
  vertical-align: middle;
}

/* line 59, sass/reset.scss */
body, html {
  height: 100%;
  -webkit-font-smoothing: antialiased!important;
}

/* line 64, sass/reset.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
}

/* line 72, sass/reset.scss */
img {
  max-width: 100%;
  height: auto;
}
